img {
    height: 70vh;
    width: 80vw;
    object-fit: cover;
    margin: 0 auto;
}

.card {
    position: relative;
}

.credit {
    color: white;
    background-color: black;
    width: fit-content;
    margin-left: 10%;
    margin-right: auto;
    position: absolute;
    top: 75%;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 60px;
    font-weight: bold;
    padding: 10px 30px;
}